@tailwind base;
@tailwind components;
@tailwind utilities;
/* 팔방. 미인. */
.gradient-text {
  background: linear-gradient(90deg, #a977c8, #6f8cc7 50%, #639a47);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* 팔방. 미인. 애니메이션 */
@keyframes slideDown {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(calc(-50% + 5rem));
  }
  100% {
    transform: translateY(calc(-50% + 5rem));
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(calc(-50% - 5rem));
  }
  100% {
    transform: translateY(calc(-50% - 5rem));
  }
}
.slideDown-animation {
  animation: slideDown 3s forwards;
}
.slideUp-animation {
  animation: slideUp 3s forwards;
}

@keyframes moreWide {
  0% {
    width: 25vw;
  }
  50% {
    width: 25vw;
  }
  100% {
    width: 80vw;
    /* width: 25vw; */
  }
}
.moreWide-animation {
  animation: moreWide 5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.7s forwards;
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeInText 1.5s ease forwards;
}

@keyframes fadeOutText {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fadeOutText 1.5s ease forwards;
}
